.hero{
    display: flex;
    justify-content: space-around;
    height: 70vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 180px;
}
.hero .hero-left .hero-left-button{
    background-color: rgb(223, 160, 231);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border: 1px solid gray;
    transition-duration: 1s;   
}
.hero .hero-left .hero-left-button:hover{
    transform: scale(1.1);
    transition-duration: 1s;    
}
.hero-left-icon{
    color:rgb(162, 162, 235);
}
.hero-left-name{
    color:rgb(162, 162, 235);
    transition-duration: 1s;
    cursor: pointer;
}
.hero-left-name:hover{
    color:rgb(41, 41, 236);
    text-decoration: underline;
    transition-duration: 1s;
}
.hero-right img{
    height: 400px;
    margin: 10px;
    border-radius: 10%;
    
}

