.blogs{
    color: black;
    font-weight: 400;
    height: 100%;
}
.blogs-title{
    border: 1px solid gray;
}
.blogs-details{
    border: 1px solid gray;
}
.blogs .blogs-items{
    margin: 10px; 
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition-duration: 0.1s;
}
.blogs .blogs-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.blogs .blogs-items .blogs-items-lists{
    margin: 10px; 
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition-duration: 0.1s;
    border: 1px solid gray;
    border-radius: 10px;
    transition-duration: 1s;
}
.blogs .blogs-items .blogs-items-lists:hover{
    background-color:#7fffd4 ;
    margin: 10px; 
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition-duration: 0.1s;
    border: 1px solid gray;
    border-radius: 10px;
    transition-duration: 1s;
}
.blogs .blogs-items .blogs-items-lists .name{
    background-color: white;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition-duration: 0.1s;
    border: 1px solid gray;
    border-radius: 10px;
    transition-duration: 1s;
    font-weight: 500;
}
